@import '_reset';
@import '_frow';

$black: #000;
$white: #fff;
$light-blue: #e1f5fe;
$blue: #4fc3f7;
$dark-blue: #03a9f4;
$dark-grey: #333;
$grey: #ccc;
$light-grey: #999;

* {
   -webkit-transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
   transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
}
html, body {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
    color: $dark-grey;
    font-family: 'Lato', sans-serif;
    background-color: $light-blue;
    line-height: 1.6;
    font-size: 18px;
}
h2 {
    font-size: 30px;
    padding-bottom: 10px;
}
h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
h4 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}
hr {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed $grey;
    background: $light-grey;
}
a {
    text-decoration: underline;
}
.header {
    position: relative;
    z-index: 5;
    background-image: url(media/header.jpg);
    background-color: $dark-blue;
    background-size: cover;
    background-position: 60% 0%; 
    svg {
        filter: drop-shadow(1px 1px 1px $black);
        -webkit-filter: drop-shadow(1px 1px 1px $black);
    }
}
.logo {
    fill: $white;
    color: $white;
    width: 100%;
    text-align: center;
    padding: 40px;
    height: auto;
    text-align: center;
}
.slogan {
    font-style: italic;
    color: $white;
    text-shadow: 1px 1px 1px #000;
    font-size: 5vw;
    fill: $white;
    margin-bottom: 40px;
}
.text, .email {
    font-weight: 100;
    text-align: center;
    width: 100%;
    a {
        color: $dark-grey;
    }
}
.email {
    font-size: 25px;
    background-color: $white;
    font-weight: 400;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
    height: 2em;
}
.card-shadow {
    background-color: $white;
}
.mailing-list {
    padding-top: 40px;
}
.btn {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
    background-color: $dark-blue;
    color: $white;
    height: 2em;
    -webkit-appearance: none;
}
.btn:hover {
    background-color: $blue;
}
@media (max-width: 980px) {
    .email {
        border-radius: 4px 4px 0 0;
    }
    .btn {
        border-radius: 0  0 4px 4px;
    }
}
.pad {
    padding: 40px;
}
em {
    font-style: italic;
}
p {
    padding-bottom: 10px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.tab-bar {
    position: relative;
    z-index: 2;
    margin-top: 0 !important;
    padding: 10px;
    li {
        margin: 0 20px;
    }
    background-color: $dark-blue;
    a {
        color: $white;
    }
    a:hover {
        text-decoration: none;
    }
}
.fixed-tab-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 2px 10px rgba(0,0,0,.28);
}
.fixed-tab-bar-cover {
    width: 100%;
    position: fixed;
    z-index: 3;
    height: 300px;
    //background-color: black;
    background: linear-gradient($light-blue, $light-blue, transparent);
}
.frow-container {
    padding-top: 20px;
    background-color: $light-blue;
    position: relative;
    z-index: 3
}
.games {
    a {
        color: $dark-blue;
    }
    p {
        width: 100%;
        text-align: left;
    }
    img {
        width: 100%;
    }
}
.frow-container {
    width: 100%;
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* LG */
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
    .logo svg {
        margin: 0 200px;
    }
}

$images: 5;
$transition: 1.5;
$time: 5 * $images + $transition * $images;
@keyframes slidy {
    0% {
      left: 0%;
    }
    @for $i from 1 through ($images - 1) {
        #{($i * 100 / $images - 100 / $time / $transition) * 1%} {
            left: ($i - 1) * -100%;
        }
        #{$i * 100 / $images * 1%} {
            left: $i * -100%;
        }
    }
    100% {
        left: ($images - 1) * -100%;
    }
}
.gallery {
    overflow: hidden;
}
.slider {
    position: relative;
    left: 0;
    width: $images * 100%;
    img {
        width: 100% / $images;
        float: left; 
        height: auto;
    }
    animation: (1s * $time) slidy infinite; 
}

#mobile-sidebar {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 300px;
   overflow-y: auto;
   overflow-x: hidden;
   background-color: $light-blue;
   box-shadow: -1px 0px 4px 0px #000000;
   z-index: 10;
}
#mobile-sidebar.letsGo-hide-remove {
    transition: transform 0.3s;
    transform: translateX(-100%);
}
#mobile-sidebar.letsGo-hide-remove.letsGo-hide-remove-active {
    transform: translateX(0);
}
#mobile-sidebar.letsGo-hide-add {
    transition: transform 0.3s;
    transform: translateX(0);
}
#mobile-sidebar.letsGo-hide-add.letsGo-hide-add-active {
    transform: translateX(-100%);
}
#click-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 9;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}
@keyframes fadeout {
    from   { opacity: 0.7; }
    to { opacity: 0; }
}
#click-cover.letsGo-hide-remove {
    animation: fadein 1s;
}
#click-cover.letsGo-hide-add {
    animation: fadeout 1s;
}
.mobile-sidebar-header {
    text-decoration: none !important;
    display: block;
    background-color: #2A6A9A;
    padding: 45px;
    svg {
        width: 100%;
    }
}
.mobile-sidebar-header {
    fill: $white;
    display: block;
    background-color: $dark-blue;
    padding: 25px;
}
.mobile-sidebar-content {
    padding: 10px;
    font-size: 24px;
    a {
        padding: 10px 20px;
        text-decoration: none;
    }
    hr {

    }
}
#mobile-sidebar-button {
    color: $white;
    font-size: 25px;
    padding: 20px;
}
#mobile-sidebar-button div {
    width: 22px;
    height: 4px;
    background-color: $white;
    margin-bottom: 4px;
}
#mobile-navbar {
    position: fixed;
    top: 0;
    z-index: 8;
    background-color: $dark-blue;
    width: 100%;
    height: 55px;
}
#mobile-navbar-shadow {
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: $black;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 2px 10px rgba(0,0,0,.28);
}
#mobile-navbar-cover {
    z-index: 7;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $dark-blue;
}
#home {
    position: fixed;
    top: 0;
    width: 100%;
}
