@import '_reset';
@import '_frow';

* {
   -webkit-transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
   transition: width 0.4s, height 0.4s, font-size 0.4s, font-weight 0.4s;
}
html, body {
    width: 100%;
    padding: 0;
    border: 0;
    height: 100%;
    color: #333;
    font-family: 'Lato', sans-serif;
    background-color: #E1F5FE;
    line-height: 1.6;
    font-size: 18px;
}
h2 {
    font-size: 30px;
    padding-bottom: 10px;
}
h3 {
    font-size: 25px;
    padding-bottom: 10px;
}
h4 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}
hr {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
a {
    text-decoration: underline;
}
.header {
    background-image: url(https://googledrive.com/host/0BxeRyCnTcQvZMVZYZzZFNm5MZGs/10.jpg);
    background-size: cover;
    background-position: 60% 0%; 
}
.logo {
    fill: #fff;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    height: auto;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 80px;
    filter: drop-shadow(1px 1px 1px #000);
    -webkit-filter: drop-shadow(1px 1px 1px #000);
    h4 {
        padding-top: 40px;
    }
}
.text, .email {
    font-weight: 100;
    text-align: center;
    width: 100%;
    a {
        color: #333;
    }
}
.email {
    font-size: 25px;
    background-color: #FFF;
    font-weight: 400;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
    height: 2em;
}
.card-shadow {
    background-color: #FFF;
}
.mailing-list {
    padding-top: 40px;
}
.btn {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
    background-color: #03A9F4;
    color: #FFF;
    height: 2em;
    -webkit-appearance: none;
}
.btn:hover {
    background-color: #4FC3F7;
}
@media (max-width: 980px) {
    .email {
        border-radius: 4px 4px 0 0;
    }
    .btn {
        border-radius: 0  0 4px 4px;
    }
}
.pad {
    padding: 40px;
}
em {
    font-style: italic;
}
p {
    padding-bottom: 10px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.tab-bar {
    margin-top: 0 !important;
    padding: 10px;
    background-color: #eee;
    margin: 20px 0;
    li {
        margin: 0 20px;
    }
    a:hover {
        text-decoration: none;
    }
}
.games {
    a {
        color: #03A9F4;
    }
    p {
        width: 100%;
        text-align: left;
    }
    img {
        width: 100%;
    }
}
.frow-container {
    width: 100%;
}

/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* LG */
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
    .logo svg {
        margin: 0 200px;
    }
}

$images: 11;
$transition: 1.5;
$time: 5 * $images + $transition * $images;
@keyframes slidy {
    0% {
      left: 0%;
    }
    @for $i from 1 through ($images - 1) {
        #{($i * 100 / $images - 100 / $time / $transition) * 1%} {
            left: ($i - 1) * -100%;
        }
        #{$i * 100 / $images * 1%} {
            left: $i * -100%;
        }
    }
    100% {
        left: ($images - 1) * -100%;
    }
}
.gallery {
    overflow: hidden;
}
.slider {
    position: relative;
    left: 0;
    width: $images * 100%;
    img {
        width: 100% / $images;
        float: left; 
        height: auto;
    }
    animation: (1s * $time) slidy infinite; 
}
